@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
    background-image: url("./img/bg.png");
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
}

.header__title {
    color: white;
}

.page__wrapper {
    height: 100vh;
    background-color: #0000004a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    height: calc(100vh - 6rem);
}

.slider__input {
    width: 0;
    height: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.slider {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.slider__container {
    width: 400%;
    height: 100%;
    display: flex;
}

.slider__img {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slider__meme_1 {
    background-image: url("./img/meme_1.jpg");
}

.slider__meme_2 {
    background-image: url("./img/meme_2.jpg");
}

.slider__meme_3 {
    background-image: url("./img/meme_3.jpg");
}

.slider__meme_4 {
    background-image: url("./img/meme_4.jpg");
}

.slider__controls {
    display: flex;
    align-self: baseline;
    justify-content: center;
}

.slider__label {
    width: 3rem;
    height: 3rem;
}

.control {
    width: 1.5em;
    background: rgba(251, 255, 8, 0.742);
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.control:hover {
    background-color:rgb(254, 247, 38);
}

.control:active {
    background-color: rgb(168, 150, 57);
}